{% extends "unlimited/base.html" %}

{% block content %}
    <h1>About Techniques</h1>
    <h2>Purpose</h2>
    <p> Techniques are supplemental abilities unique to your character, that you chose how they grow more powerful. The limit of a techniques power is determined by its tags, which are
         general descriptors of what your technique does with different point costs associated.
        Generally techniques can be anything that fits narratively 
        for your character and within the power limits. 
        They are not exclusive for combat situations, 
        to create a technique that does not do damage select the boon/bane tag†. To make techniques an important aspect of a characters they will have 
        multiple techniques but each can only be used once per session. The GM will create custom partial success options for each technique.
    </p>
    <h2>Crunch</h2>
    <ul>
        <li> Characters have a pool of points equal to 10+2*LVL.</li>
        <li> A technique can have a maximum value of ⅔ of a character's total pool†.</li>
        <li> Techniques are rolled + an attribute that fits.</li>
        <li> There are four tiers of tags with increasing cost†.</li>
        <li> Some tags have multiple tiers, which require more points.</li>
        <li> The base damage for techniques is equal to your damage +1d6.</li>
        <li> Most techniques are instant effects with no duration, some will last for the whole scene.</li>
        <li> These tags a subject to change and distances are flexible to the story</li>
    </ul>
    <h2>Guide to Tags</h2>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tier 0
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <dl>
                    <dt>Effect</dt>
                    <dd>Each tier adds +1 damage (or heal based on tags). Costs 1 point.</dd>
                    <dt>†Boon/Bane</dt>
                    <dd>Exchange all of the techniques damage/effect for +4 free points for this move and +4 to its cap, 
                      these points do not count for the total pool.</dd>
                    <dd>This tag is not compatible with <em>Heal</em> or <em>Vampiric</em>. When paired with <em>Summon</em>, the new arrivals will not
                    deal damage.</dd>
                </dl> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tier 1 (2 points)
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <dl>
                <dt>Multitarget</dt>
                <dd>How many places or people or things a technique can target. Default value is 1, every 2 points raises the number of targets by 1.</dd>
                <dt>Range</dt>
                <dd>How far your technique can reach. Default range is <b>Close</b>. Then <b>Reach</b>: up to 12 ft, <b>Near</b>: across a 6 lane road, <b>Far</b>: down the length of football field
                , <b>Remote</b>: Out unaidded of sight</dd>
                <dt>Forceful</dt>
                <dd>Has a lot of force behind it, enough to move people around and knock them down. Every level can move targets about 10 more feet.</dd>
                <dt>Disarming</dt>
                <dd>Removes a weapon of the target, even natural ones.</dd>
              </dl> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Tier 2
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Tier 3
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <dl>
                  <dt>Area</dt>
                  <dd>How large of an area the technique affects. Default is no area. <b>Small</b> area has 10 foot radius each additional levels doubles the radius. <b>Large</b> is 40ft, <b>colossal</b> is 320.</dd>
                  <dd>None, Small, Medium, Large, Huge, Enormous, Colossal, Titanic</dd>
                  <dt>Create Terrain</dt>
                  <dd>Change the physical terrain or create a new feature of your chocie. By default this change can affect a 7 foot radius.</dd>
                  <dt>Practiced</dt>
                  <dd>When you use a practiced move your roll has +2.</dd>
                  <dt>Stunning</dt>
                  <dd>Creatures affected by stunning moves are unable to react to anything around until shaken out of it.</dd>
                  <dt>Subtle</dt>
                  <dd>It is very difficult for creatures to notice you using this technique and you are more than likely to get away without 
                    notice.</dd>
                  <dt>Summon</dt>
                  <dd>You summon a number of creatures to aid you, they will follow your commands as long as it does not conflict with their nature.
                    The other tags on this technique are applied to the abilities of the summoned entities.
                  </dd>
                  <dd>This move forfeits initial damage; instead the summoned creatures can deal up to the damage of the technique when they attack.</dd>
                  <dt>Transformation</dt>
                  <dd>You change the physical form of your target(s) into something new.</dd>
                  <dt>Vampiric</dt>
                  <dd>The damage dealt by this technique (after reductions) is returned to you as HP.</dd>
                </dl>
              </div>
            </div>
          </div>
      </div>
{% endblock content%}