{% extends "unlimited/base.html" %}

{% block content %}
    <h1>About Techniques</h1>
    <h2>Purpose</h2>
    <p> Techniques are supplemental abilities unique to your character, that you chose how they grow more powerful. The limit of a techniques power is determined by its tags, which are
         general descriptors of what your technique does with different point costs associated.
        Generally techniques can be anything that fits narratively 
        for your character and within the power limits. 
        They are not exclusive for combat situations, 
        to create a technique that does not do damage select the boon/bane tag†. To make techniques an important aspect of a characters they will have 
        multiple techniques but each can only be used once per session. The GM will create custom partial success options for each technique.
    <h2>Crunch</h2>
    <ul>
        <li> Characters have a pool of points equal to 10+2*LVL.</li>
        <li> A technique can have a maximum value of ⅔ of a character's total pool†.</li>
        <li> Techniques are rolled +LVL</li>
        <li> There are four tiers of tags with increasing cost†.</li>
        <li> Some tags have multiple tiers, which require more points.</li>
        <li> The base damage for techniques is 2d6.</li>
    </ul>
    <h2>Guide to Tags</h2>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Tier 0
              </button>
            </h5>
          </div>
      
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <dl>
                    <dt>Effect</dt>
                    <dd>Each tier adds +1 damage (or heal based on tags). Costs 1 point.</dd>
                    <dt>†Boon/Bane</dt>
                    <dd>Exchange all of the techniques damage/effect for +4 free points for this move and +4 to its cap, these points do not count for the total pool.</dd>
                </dl> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Tier 1
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
              <dl>
                <dt>Multitarget</dt>
                <dd>How many places or people or things a technique can target. Default value is 1, every 2 points raises the number of targets by 1.</dd>
                <dt>Area</dt>
                <dd>How large of an area the technique affects. Default is no area.</dd>
                <dd>Small area is about the size of bathroom.</dd>
              </dl> 
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Tier 2
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
                <!-- TODO -->
            </div>
          </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Tier 3
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                <!-- TODO -->
              </div>
            </div>
          </div>
      </div>
{% endblock content%}