{% load static %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{object.image.url}}">
    <div class="media-body">
    <div class="article-metadata">
        <a class="mr-2" href="{% url "user-techniques" object.player.username %}">{{ object.player }}</a>
        <small class="text-muted">{{ object.date_created|date:"F j, Y" }}</small>
       
    </div>
    <h2 class="article-title"><a href="{% url "character-detail" object.slug %}"> {{ object.name }}</a></h2>
    <p class="article-content">Level: {{ object.level }}</p>
    <p class="article-content">Maximum technique cost: {{ object.max_cost }}</p>
    <p class="article-content">Total point pool: {{ object.point_pool }}</p>
    <p class="article-content">Available points: {{ object.available_points }}</p>
    
    </div>
</article>