{% load static %}
<article class="media content-section">
    {% if object.character %}
    <img class="rounded-circle article-img" src="{{object.character.image.url}}">
    {% else %}
    <img class="rounded-circle article-img" src="{% static "unlimited/default.jpg"%}">
    {% endif %}
    <div class="media-body">
    <div class="article-metadata">
        Used By 
        {% if object.character %}
        <a class="mr-2" href="{% url "character-detail"  object.character.slug %}">{{ object.character }}</a>
        {% else %}
        Nobody
        {% endif %}
        <small class="text-muted">{{ tech.date_created|date:"F j, Y" }}</small>
       
    </div>
    <h2 class="article-title"><a href="{% url "technique-detail" object.slug %}"> {{ object.name }}</a></h2>
    <p class="article-content">{{ object.content }}</p>
        <div>
           Created By <img class="rounded-circle article-img" style="width:5%;height:5%;margin-left:6px;margin-right:6px" src="{{object.author.profile.pfp.url}}"><a class="mr-2" href="{% url "user-techniques" object.author.username %}">{{ object.author }}</a>
        </div>
    </div>
</article>