{% extends "unlimited/base.html" %}
{% load crispy_forms_tags %}
{% crispy technique_form %}
{% block content %}
    <div class = "content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class ="border-bottem mb-4">Design Your Technique</legend>
                {% crispy form %}
            </fieldset>
            {% if form.instance.character.max_cost > form.instance.max_cost %}
                <span><p>Max Cost: {{ form.instance.character.max_cost }}</p></span>
            {% else %}
                <span><p>Max Cost: {{ form.instance.max_cost }}</p></span>
            {% endif %}
           <span><p>Available Points: {{ form.instance.character.available_points }}<p></span>
           <span><p>Most Recent Submission: {{ form.instance.cost }}<p></span> 
        </form>
    </div>
{% endblock content%}