{% extends "unlimited/base.html" %}
{% load crispy_forms_tags%}
{% load static %}
{% block content %}
    <div class="tab">
        <button class="tablinks" onclick="openTab(event, 'edit')">Edit Info <img class="icon" src="{% static "users/edit-icon.png" %}"></button>
        <button class="tablinks" onclick="openTab(event, 'characters')">Characters <img class="icon" src="{% static "users/character-icon.png" %}"></button>
        <button class="tablinks" onclick="openTab(event, 'techniques')">Techniques <img class="icon" src="{% static "users/comet-icon.png" %}"></button>
    </div>
    <div id="edit" class="tabcontent">
        <div class="content-section">
            <div class="media">
                <img class="rounded-circle account-img" src="{{user.profile.pfp.url}}">
                <div class="media-body">
                    <h2 class="account-heading">{{user.username}}</h2>
                    <p class="text-secondary">{{user.email}}</p>
                </div>
            </div>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class ="border-bottem mb-4">Profile Info</legend>
                    {{ u_form|crispy }}
                    {{ p_form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Update</button>
                </div>
            </form>
        </div>
    </div>
    <div id="techniques" class="tabcontent">
        {% for object in techniques %}
            {% if object.author == user %}
                {% include "unlimited/technique.html" %}
            {% endif %}
        {% endfor %}
    </div>
    <div id="characters" class="tabcontent">
        {% for object in characters %}
            {% if character.player == user %}
                {% include "unlimited/character.html" %}
            {% endif %}
        {% endfor %}
    </div>
    <script>
        function openTab(evt, tabName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(tabName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>        
{% endblock content%}

