{% extends "wiki/wiki-base.html" %}{% block content %}

<span class="wikidpad parent-nodes">parent nodes: <span class="wikidpad parent-node"><a href="Dulane%20Empire.html" class="wikidpad">Dulane Empire</a></span><br class="wikidpad" /><br class="wikidpad" /></span>
<a name=".h0" class="wikidpad"></a><h2 class="wikidpad heading-level2">Amtalia</h2>
<a name=".h12" class="wikidpad"></a><h4 class="wikidpad heading-level4">Notable Locations</h4>
<a name=".h36" class="wikidpad"></a><h5 class="wikidpad heading-level5">Statues</h5>
<a name=".h51" class="wikidpad"></a><h5 class="wikidpad heading-level5">The Pit</h5>
An ancient superstructure built by the Jot, during the 3-way war for Mortus between the 1st and 2nd Great Seal. The Pit was a multi-missle silo, mostly to launch attacks at the Damn'Niz"khus' dark tower. <br class="wikidpad" />
    {% endblock content %}
