{% extends "unlimited/base.html" %}{% block content %} 

<span class="wikidpad parent-nodes">parent nodes: <span class="wikidpad parent-node"><a href="Artifacts.html" class="wikidpad">Artifacts</a></span><br class="wikidpad" /><br class="wikidpad" /></span>
<a name=".h0" class="wikidpad"></a><h2 class="wikidpad heading-level2">Jade Hand</h2>
<a name=".h14" class="wikidpad"></a><h3 class="wikidpad heading-level3">History <b class="wikidpad">needs review</b></h3>
Long ago during the <span class="wikidpad wiki-link"><a href="Anno%20Novis.html" class="wikidpad">Anno Novis</a></span> a Jotschael mage, Spytchey, bound a high-lord of <span class="wikidpad wiki-link"><a href="O%2527Zura.html" class="wikidpad">O'Zura</a></span> into an adamantine flask. After the Uruk-hero Gilgrach killed Spytchey, she went through the three trials required to open the flask and released the dao, in return for their freedom Nahice offered Gilgrach a wish. She wished for the power to destroy <span class="wikidpad wiki-link"><a href="Khus%20Thauk.html" class="wikidpad">Khus Thauk</a></span>, the Claws of Domination, so that their demonic power would no longer taint Ethos. The strength of Gilgrach's will was so overwhelming that as Nahice forged the gauntlet that would crush one of the accursed blades, the dao was made into the jade giving it their full power and sentience.<br class="wikidpad" />
<br class="wikidpad" />
Years later when Gilgrach's quest to find one of the <span class="wikidpad wiki-link"><a href="Khus%20Thauk.html" class="wikidpad">Khus Thauk</a></span> was finnally successful, she gripped the blade in the massive jade gauntlet, closed her fist, and turned the sword dust. But there is no power in Mortus, Jotunhiem, or Hell that can withstand Damn'niz'Khus. And as the blade was annihilated so was Gilgrach, leaving behind a crater nearly a mile wide. All that remained was the Jade Hand, now completely black, smoking at the bottom. The crater became a holy site and a large city, named Crater, grew around it.<br class="wikidpad" />
<br class="wikidpad" />
<a name=".h1214" class="wikidpad"></a><h3 class="wikidpad heading-level3">Abilities</h3>
<a name=".h1229" class="wikidpad"></a><h6 class="wikidpad heading-level6">Deep Jade</h6>
As an action you can use the Jade Hand to absorb a magical effect within reach. Additionally as a reaction to spell being cast within your sight you can completely absorb it into the Jade Hand. The Jade Hand has a <span class="wikidpad wiki-link"><a href="Qayamancy.html" class="wikidpad">jade</a></span> capacity of 65.<br class="wikidpad" />
<br class="wikidpad" />
<a name=".h1494" class="wikidpad"></a><h6 class="wikidpad heading-level6">Children of Nahice</h6>
As an action you can spend stored magic charges to create a jade elemental.<br class="wikidpad" />
<br class="wikidpad" />
Minor (gargoyle), 5 cost<br class="wikidpad" />
Petty  (Earth Elemental),  9 cost<br class="wikidpad" />
Major   (Dao),  13 cost<br class="wikidpad" />
<br class="wikidpad" />
<br class="wikidpad" />
<a name=".h1682" class="wikidpad"></a><h6 class="wikidpad heading-level6">Dao's Gift</h6>
You can spend 9 charges to cast any 6th or lower level spell from the Jade Hand.<br class="wikidpad" />
<br class="wikidpad" />
<br class="wikidpad" />
<a name=".h1783" class="wikidpad"></a><h6 class="wikidpad heading-level6">Spell Casting Focus</h6>
The Jade Hand is a spell casting focus which grants +4 to spell attack rolls, spell save DC, and spell damage.<br class="wikidpad" />
<br class="wikidpad" />
<a name=".h1923" class="wikidpad"></a><h6 class="wikidpad heading-level6">Elemental Connection</h6>
You are fluent in True Terran and Primordial.<br class="wikidpad" />
<br class="wikidpad" />
The Jade Hand is part of you. Either die or lose the hand permanently, not even wishes can't help.<br class="wikidpad" />
<br class="wikidpad" />
<a name=".h2098" class="wikidpad"></a><h6 class="wikidpad heading-level6">Nahice Sentience</h6>
    {% endblock content%}
