{% extends "wiki/wiki-base.html" %}{% block content %}

<span class="wikidpad parent-nodes">parent nodes: <span class="wikidpad parent-node"><a href="Ages.html" class="wikidpad">Ages</a></span><br class="wikidpad" /><br class="wikidpad" /></span>
<a name=".h0" class="wikidpad"></a><h2 class="wikidpad heading-level2">Lost Eon</h2>
This is a general term for the time before mortals could keep accurate written records. This spans from the <span class="wikidpad wiki-link"><a href="Primordial%20Eon.html" class="wikidpad">Primordial Eon</a></span> to the end of <span class="wikidpad wiki-link"><a href="Anno%20Novis.html" class="wikidpad">Anno Novis</a></span>.<br class="wikidpad" />
<br class="wikidpad" />
    {% endblock content %}
