{% extends "unlimited/base.html" %}{% block content %} 

<span class="wikidpad parent-nodes">parent nodes: <span class="wikidpad parent-node"><a href="Cosmology.html" class="wikidpad">Cosmology</a></span> | <span class="wikidpad parent-node"><a href="Jade%20Hand.html" class="wikidpad">Jade Hand</a></span><br class="wikidpad" /><br class="wikidpad" /></span>
<a name=".h0" class="wikidpad"></a><h2 class="wikidpad heading-level2">O'Zura</h2>
<a name=".h11" class="wikidpad"></a><h1 class="wikidpad heading-level1">This page is under lore review</h1>
The ancient elemental city of O’Zura (great meeting) is a small subdimension that is a meeting point between the 4 elemental planes. The city is home to the largest single city population in the entire manifold. The main residents are genasi and other sentient elementals, however, giants, devils, and Tieflings are no strangers to the city. The city is ruled by and on top of Nihalmlihum, the eldest earth elemental.<br class="wikidpad" />
<br class="wikidpad" />
Time-dilation factor every 4 years in the Mundane Plane is one in O’Zura, but mundane people do not age. Despite this O’Zura is dangerous for mortals, due latent power of its primary denizens being much higher mundane mortals. This is compounded by the higher levels of background radiation experienced in the city, which does not kill outright but causes a multitude of illnesses to manifest.<br class="wikidpad" />
<br class="wikidpad" />
    {% endblock content%}
