{% extends "unlimited/base.html" %}{% block content %} 

<span class="wikidpad parent-nodes">parent nodes: <span class="wikidpad parent-node"><a href="Factions.html" class="wikidpad">Factions</a></span> | <span class="wikidpad parent-node"><a href="Project%20Citadel.html" class="wikidpad">Project Citadel</a></span><br class="wikidpad" /><br class="wikidpad" /></span>
<a name=".h0" class="wikidpad"></a><h2 class="wikidpad heading-level2">Three Moons</h2>
Three Moons is a small cult that operates out of the abandoned <span class="wikidpad wiki-link"><a href="Project%20Citadel.html" class="wikidpad">Downstream Citadel</a></span>. The name and symbology of the cult comes from a simplification of the biohazard symbol that is found throughout the facility. Project Downstream was the actual name of the secret operation to create a battle-ready chimera that would be obedient to Dunlaye handlers. The main facility is similar to a large bunker complex; it is located on the Cold Coast near the now destroyed town of Taschenlicht. <br class="wikidpad" />
<br class="wikidpad" />
Due to the inherent danger of dealing with or being near to items and locations marked with the three moons symbol, the residents hold these as sacred places that should not be trespassed upon.<br class="wikidpad" />
    {% endblock content%}
