  :root{
    --primary: #161616;
    --secondary: #2C394B;
    --tertiary: #334756;
    --accent: #17a2b8;
    --text-on-background: #666666;
    --text-light: #cbd5db;
    --text-highlight: #ffffff;
  }

  body {
    background: var(--primary) !important;
    color: var(--text-on-background);
    margin-top: 5rem;
  }

  h1, h2, h3, h4, h5, h6 {
    color: var(--text-on-background);
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: var(--secondary);
  }

  .site-header .navbar-nav .nav-link {
    color: var(--text-light);
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: var(--text-highlight);
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: var(--text-on-background);
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .asteriskField{
    color:red;
  }

  .select{
    max-width: 6em;
  }


  /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

.tabcontent{
  display: none;
}

.icon{
  max-width: 30px;
  max-height: 30px;
}

.tag-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #FFFFFF;
  padding: 10px;
}
.tag-grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.chip{
  display: inline-flex;
  flex-direction: row;
  background-color: #e5e5e5;
  border: none;
  cursor: default;
  height: 36px;
  outline: none;
  padding: 0;
  font-size: 14px;
  font-color: #333333;
  font-family:"Open Sans", sans-serif;
  white-space: nowrap;
  align-items: center;
  border-radius: 16px;
  vertical-align: middle;
  text-decoration: none;
  justify-content: center;
  margin-bottom: 4px;
}
.chip-head{
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: var(--accent);
  font-size: 1.25rem;
  flex-shrink: 0;
  align-items: center;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
  width: 36px;
  color: var(--text-light);
  height: 36px;
  font-size: 20px;
  margin-right: -4px;
}
.chip-content{
  cursor: inherit;
  display: flex;
  align-items: center;
  user-select: none;
  white-space: nowrap;
  padding-left: 12px;
  padding-right: 12px;
}

