body {
    background: #1d1f20;
    padding: 60px;
    font-family: sans-serif;
    color: #333333;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
  }
  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
    padding: 50px;
  }
  .button {
    text-decoration: none;
    background: #161616;
    border-radius: 10px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 4px solid var(--glow-color);
    color: var(--glow-color);
  }
  
  @keyframes glow {
    0% {
        box-shadow: 10px -10px 20px -5px var(--glow-color);
    }12.5%{
        box-shadow: 0px -10px 20px -5px var(--glow-color);
    }25% {
        box-shadow: -10px -10px 20px -5px var(--glow-color);
    }37.5%{
        box-shadow: -10px 0px 20px -5px var(--glow-color);
    }50%{
        box-shadow: -10px 10px 20px -5px var(--glow-color);
    }62.5%{
        box-shadow: 0px 10px 20px -5px var(--glow-color);
    }75%{
        box-shadow: 10px 10px 20px -5px var(--glow-color);
    }87.5%{
        box-shadow: 10px 0px 20px -5px var(--glow-color);
    }100% {
        box-shadow: 10px -10px 20px -5px var(--glow-color);
    }
  }

  
  .comet{
     --glow-color: #FF1E22;
     
  }
  .scroll{
     --glow-color: #157906;
    
  }
  .book{
     --glow-color: #0B56FF;
  }

  .die{
    --glow-color: #D900DC;
  }
  .glow-button:hover {
    animation: glow 1s infinite
  }