body {
    background: #1d1f20;
    padding: 60px;
    font-family: sans-serif;
    color: #333333;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
  }
  .flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
    padding: 50px;
  }
  .button {
    text-decoration: none;
    background: #161616;
    border-radius: 10px;
    font-weight: normal;
    text-transform: uppercase;
    transition: all 0.1s ease-in-out;
    width: 300px;
    height: 300px;
    margin-bottom: 30px;
    margin-top: 30px;
    border: 2px solid var(--glow-color);
    color: var(--glow-color);
    
   
   
  }
  .comet{
     --glow-color: #F7EF17;
     
  }
  .scroll{
     --glow-color: #157906;
    
  }
  .book{
     --glow-color: #0B56FF;
  }
  .glow-button:hover {
    box-shadow: 0 0px 30px var(--glow-color);
  }