{% extends "unlimited/base.html" %}
{% block content %}
    <h1>Blog Home!</h1>
    {% for tech in techniques%}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{tech.author.profile.pfp.url}}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url "user-techniques" tech.author.username %}">{{ tech.author }}</a>
                <small class="text-muted">{{ tech.date_created|date:"F j, Y" }}</small>
            </div>
            <h2><a class="article-title" href="technique/{{ tech.slug }}/">{{ tech.name }}</a></h2>
            <p class="article-content">{{ tech.content }}</p>
                <div >
                    Used By <img class="rounded-circle article-img" style="width:5%;height:5%;margin-left:6px;margin-right:6px" src="{{tech.character.image.url}}"><a class="mr-2" href="{% url "character-detail" tech.character.slug %}">{{ tech.character }}</a>
                </div>
            </div>
            
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class = "btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for  num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a class = "btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:"-3" and num > page_obj.number|add:"3" %}
                <a class = "btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>    
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class = "btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages}}">Last</a>
        {% endif %}

    {% endif %}
{% endblock content%}